nav.nav-bar {
  position: fixed;
  top: 0vh;
  right: 0vw;
  margin: 0;
  opacity: 0.6;
}

nav.nav-bar:hover,
nav.nav-bar:focus {
  opacity: 1;
}
  
a.nav-bar-link {
  display: inline-block;
  width: 100vw;
  padding-block: 7vw;
  border-radius: 5px;
  background: #e6e6e6;
  color: black;
  font-size: 60px;
  text-decoration: none;
  text-align: center;
  font-family: Calibri;
  font-weight: bold;
}

@media (min-width: 768px) {
  nav.nav-bar {
    top: 2vh;
    right: 1vw;
  }
  
  a.nav-bar-link {
    display: inline;
    padding: 1vw;
    font-size: 45px;
  }
}