nav.nav-bar {
  margin: 0;
  opacity: 0.6;
  z-index: 10;
}

nav.nav-bar:hover,
nav.nav-bar:focus {
  opacity: 1;
}
  
a.nav-bar-link {
  display: inline-block;
  width: 100vw;
  padding: 5vw;
  background: #e6e6e6;
  color: black;
  font-size: 40px;
  text-decoration: none;
  text-align: left;
  font-family: Calibri;
  font-weight: bold;
}

@media (min-width: 768px) {
  nav.nav-bar {
    position: fixed;
    top: 2vh;
    right: 1vw;
  }
  
  a.nav-bar-link {
    display: inline;
    border-radius: 5px;
    padding: 1vw;
    font-size: 45px;
  }
}