.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h3, 
label {
  text-align: center;
}

h3 {
  font-style: italic;
  font-family: 'calibri';
}

p, 
label,
input {
  font-family: monospace;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.8em;
}

